.timer p {
  margin: 0;
  font-size: 25px;
}
.timer {
  flex-grow: 0;
  margin-top: 32px;
}


@media screen and (max-width: 1136px){
  .timer p {
    font-size: 28px;
  }
}
@media screen and (max-width: 750px){
  .timer p {
    font-size: 28px;
  }
}
@media screen and (max-width: 500px){
  .timer p {
    font-size: 28px;
  }
}