.card_list {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   align-content: flex-start;
   align-items: stretch;
   gap: 66px;
   margin: 30px auto 0;
   padding-bottom: 32px;
   padding: 0px 20px;
   margin-bottom: 30px;
 }

 @media screen and (max-width: 500px){
  .card_list{
    gap: 50px;
  }
}

