.repeating {
  margin: 96px auto 0;
  width: 70%;
  position: relative;
}
.carousel_wrapper{
  position: relative;
}
.slider_button {
  outline: none;
  position: absolute;
  pointer-events: all!important;
  cursor: pointer;
  border: none;
  top: 50%;
  width: 32px!important;
  transform: translateY(-50%);
  z-index: 2;
}
.slider_prev_button {
  left:0
}
.slider_next_button {
  right:0
}


@media screen and (max-width: 1136px){
  .repeating {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 750px){
  .repeating {
    width: 100%; 
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px){
  .repeating {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}