.header {
  width: 100%;
  box-sizing: border-box;
  background: #03353e;
  display: flex;
  justify-content: center;
}
.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 95%;
  padding: 16px 0;
}
.header_block {
  display: flex;
  gap: 38px;
}
.menu_cont{
  color: #ebf2ea;
  font-size: 24px;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 2px;
  margin: 0;
}
.menu_cont:hover, .active_link {
  background: #c1403d;
}

