.class_page{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 50px;
   margin-top: 50px;
}
.class_topics {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.class_topics{
   align-items: center;
}
.class_page h4{
   font-size: 40px;
   margin: 0;
}
.topic_cont_class {
  padding: 10px;
  background: #03353e;
}
.topic_cont_class:hover {
  background: #17adbe;
  color: #ffffff;
}
.class_theme {
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
