.class_topics {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: 48px;
  flex-wrap: wrap;
}
.class_topics{
   align-items: center;
}
.class_header{
   font-size: 40px;
   margin: 0;
}
.topic_cont_class {
  padding: 10px;
  background: #03353e;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.topic_cont_class:hover {
  background: #17adbe;
  color: #ffffff;
}
